{% extends "base.html" %}
{% block title %}Crear Rol{% endblock %}

{% block content %}
<div class="col-lg-6">
  <h3 class="mb-4">Crear nuevo rol</h3>
  <form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-3 d-flex justify-content-between">
      <a href="{% url 'accounts:roles_list' %}" class="btn btn-outline-secondary">Cancelar</a>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
{% endblock %}
